h1 {
    color: rgb(184, 11, 11);
    text-align: center;
}

.para-style{
    width: 100%;
    font-size: 20px;
}

.para-spc-style{
    width: 50%;
    font-size: 20px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.color-red{
  color: #f00000;
}
.color-black{
    color: #000000;
}

#separate{
    color: #f00000;
    font-size: 16px;
}

#separate span{
    font-weight: bold;
    color: #d2d2d2;
}